<!doctype html>
<html>
<head>
	<title>Black Market Statistics</title>
	
	<!-- CSS Stylings -->
	<link href='/css/main.css' rel='stylesheet'>
</head>
<body>
	<!-- sidebar -->
	<div class="sidebar">
		<div class="banner">
			<img id="logo" src="/img/marksman.png"> <br>
			Black Market <br>
			Statistics
		</div>
		<ul id="main-menu">
			<li class="title">Navigation</li>
			<li><a href="/">Home</a></li>
			<li><a>Options</a></li>
		</ul>
	</div>
	
	<div class="border-top">
	</div>
	<div class="container">
		{{{body}}}
	</div>
</body>
</html>