{{#section 'head'}}
	<meta charset="utf-8">
	<!-- Foreign Libraries -->
	<script src="/components/angular/angular.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{{/section}}

<div ng-app='app'>
	<div ng-controller="MainController as ctrl">
		<nvd3-scatter-chart
            data="ctrl.winRates"
            id="exampleId"
            width="550"
            height="400"
            interactive="true"
            xAxisTickValues="[-1,12]"
            yAxisTickValues="[-2,2]">
        		<svg></svg>
   	 	</nvd3-scatter-chart>
   	 	<div>
   	 		<p>//ctrl.name//</p>
   	 	</div>
	</div>
</div>

<!-- Modules -->
<script src="/js/app.js"></script>
<!-- Controllers -->
<script src="/js/controllers/MainController.js"></script>
