{{#section 'head'}}
	<!-- Foreign Libraries -->
	<script src="public/components/angular/angular.js"></script>
	<script src="public/components/d3/d3.js"></script>
	<script src="public/components/nvd3/nv.d3.js"></script>
	<script src="public/components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
	<link rel="stylesheet" href="public/components/nvd3/nv.d3.css"/>
{{/section}}

<h1>Black Market Statistics</h1>