{{#section 'head'}}
	<meta charset="utf-8">
	<!-- Foreign Libraries -->
	<script src="/components/angular/angular.js"></script>
	<script src="/components/d3/d3.js"></script>
	<script src="/components/nvd3/nv.d3.js"></script>
	<script src="/components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
	<link rel="stylesheet" href="/components/nvd3/nv.d3.css"/>
	<script>
	    function ExampleCtrl($scope){
			
    	}
	</script>
{{/section}}

<div ng-app='app'>
	<div ng-controller="MainCtrl as ctrl">
		<nvd3-scatter-chart
            data="ctrl.exampleData"
            id="exampleId"
            width="550"
            height="400"
            yAxisTickFormat="yAxisTickFormatFunction()"
            xAxisTickFormat="xAxisTickFormatFunction()">
        		<svg></svg>
   	 	</nvd3-scatter-chart>
	</div>
</div>

<!-- Modules -->
<script src="/js/app.js"></script>
<!-- Controllers -->
<script src="/js/controllers/MainController.js"></script>
