{{#section 'head'}}
	<meta charset="utf-8">
	<!-- Foreign Libraries -->
	<script src="/components/angular/angular.js"></script>
	<script src="/components/d3/d3.js"></script>
	<script src="/components/nvd3/nv.d3.js"></script>
	<script src="/components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
	<link rel="stylesheet" href="/components/nvd3/nv.d3.css"/>
{{/section}}

<div ng-app='app'>
	<div ng-controller="MainController as ctrl">
		<nvd3-scatter-chart
            data="ctrl.winRates"
            id="exampleId"
            width="550"
            height="400"
            margin="{left:150,top:100,bottom:100,right:150}"
            interactive="true">
        		<svg></svg>
   	 	</nvd3-scatter-chart>
   	 	<div>
   	 		<p>//ctrl.name//</p>
   	 	</div>
	</div>
</div>

<!-- Modules -->
<script src="/js/app.js"></script>
<!-- Controllers -->
<script src="/js/controllers/MainController.js"></script>
